body {
  width: auto;
  font-family: 'Lato', sans-serif;
  color: #333;
  -webkit-font-smoothing: antialiased;
  margin: 0; }

.details-gallery {
  width: 100%;
  float: left;
  padding: 15px 0; }

.wrapper {
  padding: 0;
  clear: left; }

.container {
  margin: 0 auto;
  max-width: 1200px; }

header {
  font-size: 2em;
  padding: 15px 0;
  margin: 0 auto;
  max-width: 1200px; }

.banner {
  text-align: center;
  position: relative;
  background-size: cover; }

.banner-gallery {
  background: #4d4e6d;
  text-align: center;
  padding: 10px;
  position: relative;
  background: url(../images/gallery.jpg) no-repeat top center; }
  .banner-gallery h1, .banner-gallery p {
    color: #fff; }

.banner-content {
  position: relative;
  z-index: 2;
  padding: 40px 0; }

.banner-overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.5);
  z-index: 1; }

h1 {
  margin: 0;
  padding: 0.5em; }

.banner h1, .banner p {
  color: #fff; }

h1 span {
  color: #87C142; }

p {
  padding: 0;
  margin: 0.5em 0; }

.edition-list {
  display: block;
  list-style-type: none;
  padding: 0;
  text-align: center;
  margin-top: 15px;
  margin-bottom: 20px; }

.edition-list__item {
  display: inline-block;
  border: 1px solid #ddd;
  margin: 2px 4px; }
  .edition-list__item .active {
    background: #87c042; }
    .edition-list__item .active h2 {
      color: #fff;
      font-weight: bold; }
  .edition-list__item :hover {
    background: #87c042; }
    .edition-list__item :hover h2 {
      color: #fff; }
  .edition-list__item button {
    text-decoration: none;
    cursor: pointer;
    display: block;
    padding: 6px 10px;
    border: none;
    background: none; }
    .edition-list__item button:focus {
      outline: 0 none; }
  .edition-list__item h2 {
    margin: 0;
    text-decoration: none;
    color: #4d4e6d;
    font-size: 14px;
    font-weight: 400; }

.content {
  padding: 5px 10px; }

.backbtn {
  background: #87c042;
  text-decoration: none;
  font-size: 18px;
  padding: 5px 10px;
  color: #fff;
  margin-top: 20px;
  margin-bottom: 10px;
  font-family: 'Lato', sans-serif;
  text-transform: capitalize;
  float: left;
  clear: left; }
  .backbtn:before {
    margin-right: 5px;
    font-family: FontAwesome; }
  .backbtn:hover {
    background: #73a932; }

.star-rating {
  display: none;
  background: #a0a0a0;
  height: 20px;
  margin-bottom: 5px;
  position: relative; }
  .star-rating .rating {
    background: #ffd203;
    position: absolute;
    width: 80%;
    left: 0;
    top: 0;
    height: 21px;
    z-index: 1; }
    .star-rating .rating.rating-1 {
      width: 20%; }
    .star-rating .rating.rating-2 {
      width: 40%; }
    .star-rating .rating.rating-3 {
      width: 60%; }
    .star-rating .rating.rating-4 {
      width: 80%; }
    .star-rating .rating.rating-5 {
      width: 100%; }
  .star-rating img {
    z-index: 2;
    position: relative; }

footer {
  background: #313131;
  color: #969595;
  font-size: 11px;
  padding: 10px;
  clear: left;
  margin: 0 auto; }
  footer ul {
    padding-left: 15px; }
  footer a {
    color: #87be49;
    text-decoration: none; }
  footer h5 {
    color: #fff;
    font-size: 14px;
    margin: 5px 0;
    font-weight: 300; }
  footer p.copy-right-footer {
    font-size: 10px;
    clear: left;
    display: inline-block; }

.open-stage-wrap {
  padding: 40px 0;
  clear: left;
  background: url(../images/port80-bg.jpg) repeat top center; }

.open-stage-content {
  background: rgba(255, 255, 255, 0.75);
  padding: 20px 30px; }
  .open-stage-content h2 {
    color: #659E22;
    font-size: 22px;
    margin-bottom: 30px; }
  .open-stage-content p {
    color: #5F5F5F;
    font-size: 14px;
    font-weight: 100;
    margin-bottom: 5px; }
  .open-stage-content strong {
    font-size: 20px;
    font-weight: 400;
    color: #5F5F5F;
    margin-top: 20px;
    display: inline-block; }
  .open-stage-content ul li {
    float: left;
    margin-left: 25px; }

ul {
  margin: 0;
  padding: 0; }

.social-icons {
  width: 15px;
  height: 15px;
  float: left;
  background: url(../images/dk17/social-icons.png) no-repeat 0 0;
  margin-right: 15px;
  cursor: pointer;
  -webkit-transition-property: none;
  transition-property: none; }
  .social-icons.fb {
    background-position: 0 0;
    width: 11px; }
  .social-icons.twitter {
    background-position: -12px -1px;
    width: 18px; }
  .social-icons.linkedIn {
    background-position: -31px -1px;
    width: 18px; }
  .social-icons.email {
    background-position: -50px -1px;
    width: 18px; }
  .social-icons.fb:hover {
    background-position: 0 -19px; }
  .social-icons.twitter:hover {
    background-position: -12px -20px; }
  .social-icons.linkedIn:hover {
    background-position: -31px -20px; }
  .social-icons.email:hover {
    background-position: -50px -21px; }

.event-list {
  margin-top: 25px;
  float: left;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap; }
  .event-list li {
    width: 48%;
    margin: 0 0.5%;
    float: left;
    list-style-type: none;
    margin-bottom: 15px;
    border: 1px solid #ddd;
    position: relative;
    padding-bottom: 10px; }
    .event-list li .video-detail-wrap,
    .event-list li .speaker-widget-wrap {
      padding: 0 2%;
      line-height: 12px; }
    .event-list li .speaker-widget-wrap:nth-child(4), .event-list li .speaker-widget-wrap:nth-child(5) {
      display: none; }
    .event-list li .speaker {
      font-size: 12px;
      font-weight: bold; }
    .event-list li .company {
      font-size: 11px;
      font-style: italic; }
    .event-list li .video-thumb {
      position: relative; }
      .event-list li .video-thumb img {
        max-width: 100%; }
    .event-list li a {
      text-decoration: none; }

.tech-filter {
  text-align: center; }

.video-detail-wrap {
  font-size: 13px; }
  .video-detail-wrap h4 {
    font-size: 15px;
    color: #333;
    margin: 4px 0;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    font-weight: normal;
    line-height: 17px; }

h4.filter-title {
  color: #444;
  font-size: 22px;
  margin-top: 20px;
  text-align: center;
  font-weight: normal; }

.video-detail-wrap span {
  display: block;
  font-weight: 100;
  font-size: 13px;
  text-decoration: none; }
  .video-detail-wrap span.company {
    font-size: 11px; }
  .video-detail-wrap span.month {
    margin-top: 6px;
    margin-bottom: 2px;
    font-size: 12px;
    color: #333; }
  .video-detail-wrap span.edition {
    position: absolute;
    right: 0;
    bottom: 0;
    background: #87c042;
    color: #fff;
    padding: 3px 3px 1px 10px;
    border-radius: 30px 0 0;
    font-weight: bold;
    font-size: 15px;
    display: none; }

.view-btn {
  background: #87c142;
  color: #fff;
  padding: 10px 20px;
  margin-top: 25px;
  display: inline-block;
  text-decoration: none;
  font-size: 20px;
  text-transform: uppercase; }
  .view-btn:hover {
    background: #659E22; }

.speaker-detail {
  display: block;
  margin-bottom: 3px; }
  .speaker-detail.company {
    font-size: 13px; }

.speaker-wrap .details {
  font-size: 14px;
  font-style: italic;
  color: #555;
  line-height: 21px;
  text-align: justify; }

.event-detail {
  color: #525252; }
  .event-detail h4 {
    font-size: 22px;
    margin: 20px 0 5px;
    font-weight: 100; }

.speaker-wrap .speaker-thumb {
  width: 100px;
  border-radius: 50px;
  margin-right: 10px;
  margin: 0;
  display: block; }

.speaker-wrap h3 {
  margin: 5px 0; }

.speaker-wrap a[href=""],
.speaker-wrap a[href="mailto:"] {
  display: none; }

.event-detail .event-content {
  margin-top: 20px;
  clear: left;
  line-height: 25px; }
  .event-detail .event-content strong {
    display: block;
    margin: 8px 0; }

.filter-list {
  list-style-type: none;
  margin: 0;
  padding: 0;
  text-align: center; }
  .filter-list li {
    display: inline-block;
    margin: 0;
    width: 14%; }
    .filter-list li a {
      text-decoration: none;
      position: relative;
      padding-top: 40px;
      font-size: 10px;
      font-family: 'Lato', sans-serif;
      color: #000; }
      .filter-list li a:before {
        position: absolute;
        left: 50%;
        top: 0;
        font-size: 33px;
        margin-left: -13px;
        color: #ccc;
        font-family: FontAwesome; }
      .filter-list li a.active:before {
        color: #87c142; }
      .filter-list li a:hover:before {
        color: #87c142; }
      .filter-list li a:hover {
        color: #87c142; }

.video-wrap {
  background: #000; }
  .video-wrap iframe {
    max-width: 700px;
    margin: 0 auto;
    display: block;
    width: 100%; }
  .video-wrap .event-banner {
    margin: 0 auto;
    display: block;
    max-width: 100%; }

.success {
  background: #d4e4d7;
  color: #0b4717;
  padding: 10px;
  font-size: 15px;
  width: 100%;
  border-radius: 5px;
  margin-bottom: 15px;
  float: left; }

.contact .contact-title {
  float: left;
  width: 100%; }
  .contact .contact-title h2 {
    font-size: 30px;
    color: #3A3A3A;
    font-weight: 600;
    text-transform: uppercase;
    border-bottom: 2px solid #f1f1f1;
    padding-bottom: 20px;
    margin-top: 35px;
    margin-bottom: 35px; }

.contact .form-area {
  width: 100%;
  padding-top: 1px;
  margin: 0; }
  .contact .form-area .form-group {
    margin-bottom: 20px; }
    .contact .form-area .form-group .form-control {
      height: 47px;
      padding: 6px 20px 6px 20px;
      font-size: 16px;
      line-height: 24px;
      color: #8a8a8a;
      border: 2px solid #F1F1F1;
      border-radius: 5px;
      -webkit-box-shadow: none;
      box-shadow: none;
      font-weight: 100;
      background-color: #fff;
      background-image: none;
      display: block;
      width: 100%;
      -webkit-box-sizing: border-box;
      box-sizing: border-box; }
      .contact .form-area .form-group .form-control:focus {
        outline: none; }
    .contact .form-area .form-group .form-control.textarea {
      height: 115px;
      resize: none; }
      .contact .form-area .form-group .form-control.textarea:focus {
        outline: none; }
  .contact .form-area .form-btn {
    padding: 9px 53px;
    font-weight: 400;
    font-size: 20px;
    border-radius: 5px;
    -webkit-box-shadow: none;
    box-shadow: none;
    margin: 10px 0px 15px;
    background-color: #87c142;
    border-color: #87c142;
    text-transform: uppercase;
    text-align: center;
    color: #fff;
    cursor: pointer; }
    .contact .form-area .form-btn:focus {
      outline: none; }

.clear {
  clear: both; }

#speaker-list li {
  list-style-type: none;
  float: left;
  width: 98%;
  padding: 1%;
  margin-bottom: 10px;
  margin: 5px 0.5%; }
  #speaker-list li:nth-child(2n+1) {
    background: #efefef; }
  #speaker-list li p.desc {
    font-size: 14px;
    width: 80%;
    float: left;
    text-align: justify; }
  #speaker-list li img.speaker-thumb {
    width: 15%;
    float: left;
    margin-right: 10px; }
  #speaker-list li h4 {
    float: left;
    margin: -3px 4px 2px 0;
    font-size: 18px;
    width: 80%; }
  #speaker-list li span.profile {
    float: left;
    font-style: italic;
    width: 80%; }
  #speaker-list li a.event-link {
    float: left;
    clear: left;
    width: 100%;
    text-align: left;
    color: #008fca;
    text-decoration: none; }
    #speaker-list li a.event-link:hover {
      text-decoration: underline; }
  #speaker-list li .social-icons {
    margin-top: 10px; }
  #speaker-list li a[href=""],
  #speaker-list li a[href="mailto:"] {
    display: none; }

.main-nav {
  float: left;
  list-style-type: none;
  font-size: 16px;
  margin-bottom: 10px;
  margin-top: 5px;
  width: 100%;
  text-align: center; }
  .main-nav li {
    display: inline-block;
    padding: 0 10px; }
    .main-nav li a {
      text-decoration: none;
      color: #444; }
      .main-nav li a:hover {
        color: #87c042; }
    .main-nav li:last-child {
      padding-right: 0; }

.event-list .loc-cls .responsive {
  max-width: 100%; }

.event-list .loc-cls .video-overlay {
  position: absolute;
  bottom: 0;
  left: 100%;
  right: 0;
  background-color: rgba(0, 0, 0, 0.7);
  overflow: hidden;
  width: 0;
  height: 100%;
  -webkit-transition: .5s ease;
  transition: .5s ease; }
  .event-list .loc-cls .video-overlay .text {
    color: white;
    font-size: 15px;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    white-space: nowrap;
    font-weight: 600; }

.event-list .loc-cls:hover .video-overlay {
  width: 100%;
  left: 0; }

.social_icon {
  float: right;
  list-style: none; }
  .social_icon li {
    float: left;
    padding-left: 15px; }
    .social_icon li a {
      font-size: 22px;
      color: #ffffff; }
      .social_icon li a:hover {
        color: #87be49; }

.wrapper.contact {
  overflow: hidden;
  padding-bottom: 30px; }

.contact-right,
.contact-left {
  width: 100%;
  padding: 0; }

.contact-right .map-wrap {
  border: 2px solid #f1f1f1; }

@media only screen and (min-width: 768px) {
  .content {
    min-height: 400px; }
  .banner h1 {
    font-size: 40px; }
  .banner p {
    font-size: 25px; }
  .main-nav {
    width: auto;
    text-align: right;
    float: right;
    margin-bottom: 0px;
    margin-top: 15px;
    margin-right: 0px; }
  .open-stage-content p {
    font-size: 16px; }
  .event-list li {
    width: 23%;
    float: left;
    list-style-type: none; }
  .video-detail-wrap span.company {
    font-size: 12px; }
  .footer-widget {
    width: 100%;
    float: left;
    font-size: 13px;
    margin-bottom: 20px; }
  .copy-right-footer {
    clear: left; }
  .filter-list li {
    margin: 0 20px;
    width: auto; }
    .filter-list li a {
      font-size: 14px; }
      .filter-list li a:before {
        font-size: 35px;
        margin-left: -15px; }
  .event-detail {
    width: 100%;
    float: left; }
  .speaker-detail-wrap {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    clear: left; }
  .speaker-wrap {
    margin-right: 2%;
    float: left;
    margin-top: 20px;
    min-width: 200px; }
  .edition-list__item h2 {
    font-size: 16px; }
  footer {
    padding: 25px; }
    footer h5 {
      font-size: 17px; }
    footer p.copy-right-footer {
      font-size: 13px; }
  .contact .form-area {
    width: 100%; }
  #speaker-list li a.event-link {
    width: 44%;
    float: right;
    clear: right;
    text-align: right; }
  #speaker-list li p.desc, #speaker-list li h4 {
    width: 40%; }
  #speaker-list li span.profile {
    width: 50%; }
  .contact-left {
    width: 50%;
    float: left;
    padding-right: 15px;
    -webkit-box-sizing: border-box;
    box-sizing: border-box; }
  .contact-right {
    width: 50%;
    float: left;
    padding-left: 15px;
    -webkit-box-sizing: border-box;
    box-sizing: border-box; } }

.header-top-wrap {
  padding: 3px 0px;
  background: #87c042;
  display: inline-block;
  width: 100%;
  text-align: center; }
  .header-top-wrap .social_icon-header {
    list-style: none;
    text-align: center; }
    .header-top-wrap .social_icon-header li {
      padding-left: 15px;
      display: inline-block; }
      .header-top-wrap .social_icon-header li a {
        font-size: 20px;
        color: #fff; }

.header-top-wrap .social_icon-header li.meetup {
  padding-left: 10px; }

.gallery-wrap {
  background: #f4f4f4;
  margin-bottom: 15px; }
  .gallery-wrap .event-list li {
    padding-bottom: 0px; }
  .gallery-wrap .content-gallery {
    padding: 5px 10px; }
    .gallery-wrap .content-gallery .gallery {
      padding-bottom: 0; }
.register-wrap {
  display: flex;
  width: 100%;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
}
.register-list {
  width: 48%;
  display: flex;
}